html {
  font-family: 'Lora', serif;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background: #111b27;
}

header {
  .inner {
    padding: 50px;
  }
  background: #394149;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {

    }
  }
}

main {
  background: #394149;
  color: $white;
}

footer {
  color: $white;
}
