.page {
  .wp-caption {
    max-width: 100%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  p.wp-caption-text {
    background: $black15;
    padding: 0.5em 1em;
    margin-top: 0;
    font-size: 1.15em;
    line-height: 1.7em;
  }
}
.page-template-template-home {
  div.wp-caption {
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
    }
    p.wp-caption-text {
      background: $black15;
      padding: 0.5em 1em;
      margin-top: 0;
      font-size: 1.15em;
      line-height: 1.7em;
    }
  }
  blockquote {
    border: solid 2px $black25;
    border-left: none;
    border-right: none;
    padding: 25px;
    > * {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
}

.page-template-template-photos, .single-gallery {
  .row ul, li {
    list-style: none;
    padding: 0;
    img {
      max-width: 100%;
    }
  }
  ul.slides {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: 0;
    li {
      margin: 15px;
      margin-top: 0;
      @include breakpoint(mobile){
        width: 40%;
      }
    }
  }
  .row.galleries {
    text-align: center;
  }
}

.single-gallery {
  nav.menu-primary-menu-container {
    .menu-item-31 {
      a {
        background: linear-gradient(180deg, $gold 61%, darken($gold, 20%) 100%);
        color: $white;
        text-shadow: 0 1px 2px $black75;
      }
    }
  }
}

.page-template-template-officers {
  .person {
    text-align: center;
    width: 100%;
    .image {
      overflow: hidden;
      height: 250px;
      @include breakpoint(mobile){
        height: auto;
      }
      img {
        width: 100%;
        height: auto;
        position: relative;
        top: -20%;
      }
      .nophoto {
        height: 250px;
        background: $black10;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        @include breakpoint(mobile){
          height: auto;
          padding: 25px 0;
        }
        span {
          font-size: 24px;
          color: $black15;
        }
      }
    }
    .content {
      h3 {
        height: 2em;
        font-size: 1em;
        margin-bottom: 25px;
        span {
          display: block;
          color: #0033CC;
        }
      }
    }
  }
  .officers {
    .person {
      .image {
        height: 165px;
        img {
          // margin-top: -15%;
        }
        .nophoto {
          height: 175px;
        }
      }
    }
  }
  .lead-officers {
    .person {
      .image {
      }
    }
  }
}

.wp-block-table {
  table {
    border-collapse: collapse;
    td {
      border: solid 1px $black25;
      padding: 0.5em;
    }
  }
}

#newsletter-archive {
  .post-content {
    ul {
      display: flex;
      flex-flow: row wrap;
      li {
        width: 50%;
        margin-bottom: 10px;
        a {
          font-size: 18px;
        }
      }
    }
  }
}

.page-template-template-newsletters {
  .newsletters {
    > div {
      text-align: center;
      a {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

.page-template-template-newsletter-archive {
  main {
    ul {
      padding-left: 20px;
    }
  }
}
