.page-template-default, .post-template-default {
  color: $white;
  main {
    padding: 0 0 60px 0;
  }
  .wp-caption {
    max-width: 100%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  p.wp-caption-text {
    padding: 0.5em 1em;
    margin-top: 0;
    font-size: 1.15em;
    line-height: 1.7em;
  }
}
