.page-template-default, .post-template-default {
  color: $white;
  main {
    padding: 0 0 60px 0;
    h1 {
      margin-bottom: 45px;
    }
    h2 {
      margin-bottom: 15px;
    }
    h3 {

    }
    p {
      font-size: 18px;
      line-height: 1.7em;
      margin-bottom: 15px;
    }
    a {
      color: $gold;
      &:hover {
        color: $gold-dark;
      }
    }

  }
  .wp-caption {
    max-width: 100%;
    img {
      max-width: 100%;
      height: auto;
    }
  }

}
